credential/id_rsa
credential/id_rsa.pub

ftp/sftp/dist/id_rsa.pub
http/httpd/dist/server.key
http/httpd/dist/server.crt
http/nginx/dist/server.key
http/nginx/dist/server.crt

ftp/file/100M.dummy
ftp/sftp/dist/ssh_host_ed25519_key
ftp/sftp/dist/ssh_host_ed25519_key.pub
ftp/sftp/dist/ssh_host_rsa_key
ftp/sftp/dist/ssh_host_rsa_key.pub
ftp/sftp/dist/id_rsa.pub

mail/mail/*
mail/mail-state/*

!.gitkeep
